# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
env/
venv/
myenv/

# Ignore Django migration files
*/migrations/*

# Ignore database files
*.sqlite3
*.db

# Ignore coverage reports
.coverage
coverage/
htmlcov/

# Ignore logs
*.log

# Ignore node_modules (if you use Node.js)
node_modules/

# Ignore IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
