# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Environment files
.env
*.env

# Virtual environments
venv/
ENV/
env/
.venv/

# Static files (if you're using local storage)
staticfiles/
static/

# Media files (if you're using local storage)
media/

# Database files
db.sqlite3
*.sqlite3

# Log files
*.log

# Django secret key
secret_key.txt

# IDEs
.vscode/
.idea/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Python distributions
*.egg
*.egg-info
dist/
build/
.eggs/

# Docker files
docker-compose.override.yml
Dockerfile

# Coverage reports
.coverage
*.coveragerc

# Testing
nosetests.xml
coverage.xml
*.pdb
*.orig

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/

# Poetry dependency files
poetry.lock

# Ignore custom virtual environment
myenv/

